/* ==============
Universal style
================= */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.uni-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.uni-description {
    font-size: 1rem;
    font-weight: 400;
    color: #534C64;
}

.btn-primary {
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    display: inline-flex;
    border: none;
    padding: 15px 35px;
    border-radius: 46px;
    background-color: #FF42A5;
}

/* ==================
 Header style start
 ================== */
/* ==================
 Navigation style 
 ================== */

.nav-container {
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    background: #FFF;
    box-shadow: 0px 5px 20px 0px #0000000d;
    padding: 16px 0px 17px 0px;
}

.icon {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.red {
    color: #FF42A5;
}

#icon-list {
    color: #3C354F;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    list-style: none;
}

.nav-btn {
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #0b02231a;
    color: #3C354F;
    padding: 13px 31px;
}

/* ==================
 Main style start
 ==================== */
/* ==========================
 Play like the section style
 ============================= */
.main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
    padding: 0px 49px;
    margin: 10px 0px;
    
   
}

.banner-description {
    height: 100%;
    width: 25%;
    margin-top: -63px;
    
    background-repeat: no-repeat;
    position: cover;

}

#banner-title {
    font-size: 2.56rem;
}

#banner-des {
    margin-bottom: 20px;
}

.goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.43rem;
    font-weight: 800;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
}

#btn-banner {
    background-color: #4EC5F7;
}

.banner-img {
    height: 100%;
    width: 100%;
    margin-bottom: -14px;
}

/* ==========================
 We are gamer section style
 ============================= */

.gamer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff42a508;
    gap: 30px;
    padding: 20px 0px;
}

#gamer-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#gamer-details {
    font-size: 1rem;
    line-height: 22px;
    padding: 13px 0px 13px 0px;
}

.gamer-image {
    padding: 0px 0px 0px 29px;
}

#btn-gamer {
    margin: 12px 0px;
}

.gamer-description {
    padding: 0px 100px 0px 0px;
    text-align: end;
}

.end-title {
    font-size: 1.75rem;
    font-weight: 700;
}

.end-title small {
    font-size: 1.37rem;
    font-weight: 400;
}

.color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      
}

/* ====================
    Mobile Responsive
====================== */
@media screen and (max-width: 576px) {

    /* nav part style */
    
    .nav-container {
        flex-direction: column;
        width: 632px;
    }

    .icon {

    }

    .uni-description {
        margin: 0px -12px;
    }

    .nav-list {
        flex-direction: column;
        padding: 40px 0px 0px 0px;
    }
    .nav-list li {
        margin: -32px;
    }

    /* play-like-the-style */

    .main-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .banner-description {
        height: 100%;
        width: 130%;
        padding-left: 342px;
        margin-top: 49px;
        text-align: center;
    }

    .banner-img {
        margin-top: 22px;
        padding-left: 60px;
        height: 100%;
        width: 200%;
    }
    /* We are the gamer style */
    .gamer-container {
        flex-direction: column;
        align-items: center;
    }
    .gamer-img {
        width: 200%;
        padding-left: 0px;
    }
    .gamer-description {
        width: 100%;
        padding-left: 461px;
        text-align: center;
    }
}
